<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo App</title>
    <link rel="stylesheet" href="../assests/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

</head>
<body>

    
    <div class = "task">
        <h2><u>TO-Do Application</u></h2>
        <% if(typeof alert !='undefined'){ %>
            <% alert.forEach(function (error) { %>
         <div class="alert alert-warning alert-dismissible fade show" role="alert">
             <%= error.msg %>
            </div>
          <% }) %>
          <% } %>
        <form method ="POST">
        <input type = "text" name = "name" placeholder = "Enter Name">
        <input type = "text" name = "task" placeholder = "Enter the task">
        <input type = "text" name = "description" placeholder = "enter description of task"> 
        <input type = "date" name = "date">  
        <input type = "time" name = "time"> 
        <input type = "submit">
       
        </form>
    </div>
    <br><br><br>
    <div class = "searchbar">
        <form action= "/search" >
            <input name="search" placeholder="enter your name" type="text" />
            <button>Search</button>
        </form>
    </div>
    <br><br><br>
    <div class="alltask">
        <table border>
            <thead>
                <tr>
                     <th>Name</th>
                     <th>Task name</th>
                     <th>Task description</th>
                     <th>Date</th>
                     <th>Time</th>
                     <th>Edit</th>
                     <th>Delete</th>
                    </tr>
                    </thead>
                <tbody>
                    <% records.forEach(function(row){ %>   <!-- records is ab object of POST Request from index.js-->
            <tr>
                <td><%= row.name %></td>           <!-- name are same as db columns name-->
                <td><%= row.task_name %></td>
                <td><%= row.task_description %></td>
                <td><%= row.date %></td>
                <td><%= row.time %></td>
                <td><a  href = "/edit/<%= row.id %>"><!--here edit use in js file to give id to db --><input type = "button" value = "Edit"></a></td>
                <td><a href = "/delete/<%= row.id %>"><input type = "reset"  value = "Delete"></a></td>
            </tr>
            <% }); %>
                </tbody>
        </table>
    </div>
    
</body>
</html>